<div ng-if = "serverMsg.resStatus == 'success'" class="alert alert-success">
     <strong>Success!</strong> {{serverMsg.msg}}.
</div>
<div ng-if = "serverMsg.resStatus == 'error'" class="alert alert-danger">
     <strong>Error!</strong>  {{serverMsg.msg}}.
</div>
