<nav class="footer-right">
  <ul class="nav">
    <li>
      <a href="mailto:hello@buzzer.tech">Feedback</a>
    </li>
    <li>
      <a href="javascript:;" class="scroll-up" scroll-up>
        <i class="fa fa-angle-up"></i>
      </a>
    </li>
  </ul>
</nav>

<nav class="footer-left">
  <ul class="nav">
    <li>
    <a>&copy; 2016 Buzzer Feedback. All rights reserved.</a>
    </li>
    <li>
      <a href="javascript:;"><u>Privac</u>y</a>
    </li>
    <li>
      <a href="https://getbuzzer.com/blog"><u>Read our blo</u>g</a>
    </li>
  </ul>
</nav>
