<div class="brand">

  <!-- logo -->
  <div class="brand-logo">
    <img data-ng-src="images/logo.png" height="15" alt="">
  </div>
  <!-- /logo -->

  <!-- toggle small sidebar menu -->
  <a href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3" data-ng-click="app.layout.isSmallSidebar = !app.layout.isSmallSidebar">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </a>
  <!-- /toggle small sidebar menu -->

</div>

<!-- main navigation -->
<nav role="navigation" side-navigation>

  <ul class="nav">

    <!-- dashboard -->
    <li ui-sref-active="active">
      <a ui-sref="app.dashboard">
        <i class="fa fa-tachometer"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- /dashboard -->

    <!--team
    <li data-ng-class="{open: $state.includes('app.tables')}">
        <a ui-sref="app.tables.table_basic">
        <i class="fa fa-users"></i>
        <span>Team rankings</span>
      </a>
    </li>
    /team -->

  <!-- ToD analysis
    <li ui-sref-active="active">
        <a ui-sref="app.charts.chartjs">
        <i class="fa fa-clock-o"></i>
        <span>Time of Day analysis</span>
      </a>
    </li>

  /ToD -->


    <!-- maps -->
    <li data-ng-class="{open: $state.includes('app.maps')}">
      <a ui-sref="app.maps.google">
        <i class="fa fa-map-marker"></i>
        <span>Customer map</span>
      </a>
    </li>
    <!-- /maps -->


    <li ui-sref-active="active">
      <a ui-sref="app.apps.social">
        <i class="fa fa-newspaper-o"></i>
        <span>News</span>
        <!-- <span class="label label-success pull-right">6</span> -->
      </a>
    </li>

    <!-- settings -->
    <li ui-sref-active="active">
     <!-- <a ui-sref="app.forms.wizard"> -->
        <a ui-sref = "app.forms.user"><i class="fa fa-cog"></i>
        <!-- <span>Settings</span> <em class="text-success small">Soon!</em> -->
        <span>Settings</span>
      </a>
    </li>
    <!-- /settings -->

    <!-- documentation -->
    <li ui-sref-active="active">
      <a ui-sref="app.documentation">
        <i class="fa fa-question"></i>
        <span>Help</span>
      </a>
    </li>
    <!-- /documentation -->
    <!--lock-->
    <li ui-sref-active="active">
      <a ng-click="lock()">
        <i class="fa fa-lock"></i>
        <span>Lock</span>
      </a>
    </li>
    <!--/lock-->
    <!--logout-->
    <li ui-sref-active="active">
      <a ui-sref="#" ng-click="logout()">
        <i class="fa fa-sign-out"></i>
        <span>Sign out</span>
      </a>
    </li>
    <!-- /logout -->

  </ul>
</nav>
<!-- /main navigation -->
