<!doctype html>
<html class="no-js" data-ng-app="bzrdashApp">

<head>
    <meta charset="utf-8">
    <title>Buzzer: Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

    <meta id="load_styles_before">

    <link rel="shortcut icon" href="https://getbuzzer.com/wp-content/uploads/2016/11/favicon-16x16.png" />
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="styles/gp-web.css">
    <link rel="stylesheet" href="styles/font-awesome.css">
    <link rel="stylesheet" href="styles/panel.css">
    <link rel="stylesheet" href="styles/feather.css">
    <link rel="stylesheet" href="styles/animate.css">
    <link rel="stylesheet" href="styles/bzrdash.css">
    <link rel="stylesheet" href="styles/bzrdash.skins.css">
    <script src="https://cdn.auth0.com/js/lock/10.3/lock.min.js"></script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-81679068-5', 'auto');
    ga('send', 'pageview');

  </script>
</head>

<body data-ng-controller="AppCtrl" class="{{ app.layout.sidebarTheme }} {{ app.layout.headerTheme }}">

    <div class="topbar"></div>

    <div class="quick-launch-panel" data-ng-include="'views/common/quick-launch-panel.html'"></div>

    <div class="app {{$state.current.data.appClasses}}" data-ng-class="{'layout-small-menu': app.layout.isSmallSidebar, 'layout-chat-open': app.layout.isFixedHeader, 'layout-boxed': app.layout.isBoxed, 'layout-static-sidebar': app.layout.isStaticSidebar, 'layout-right-sidebar': app.layout.isRightSidebar, 'layout-fixed-footer': app.layout.isFixedFooter, 'message-open': app.isMessageOpen}"
        data-ui-view>
    </div>

    <script async defer src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyChWfztaeQfMRYPGpMdj3O6ifKBGceJKV4"></script>

    <!-- build:js({.tmp,app}) scripts/app.min.js -->
    <script src="scripts/extensions/modernizr.js"></script>
    <script src="vendor/jquery/dist/jquery.js"></script>
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="vendor/angular-animate/angular-animate.js"></script>
    <script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="vendor/angular-sanitize/angular-sanitize.js"></script>
    <script src="vendor/angular-touch/angular-touch.js"></script>
    <script src="vendor/angular-ui-utils/ui-utils.js"></script>
    <script src="vendor/angular-ui-map/ui-map.js"></script>
    <script src="vendor/ngstorage/ngStorage.js"></script>
    <script src="vendor/ocLazyLoad/dist/ocLazyLoad.js"></script>
    <script src="vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="scripts/extensions/lib.js"></script>
    <script src="vendor/fastclick/lib/fastclick.js"></script>
    <script src="vendor/ng-csv/ng-csv.min.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/app.main.js"></script>
    <script src="scripts/config.router.js"></script>

    <script src="scripts/directives/anchor-scroll.js"></script>
    <script src="scripts/directives/c3.js"></script>
    <script src="scripts/directives/chosen.js"></script>
    <script src="scripts/directives/navigation.js"></script>
    <script src="scripts/directives/offscreen.js"></script>
    <script src="scripts/directives/panel-control-collapse.js"></script>
    <script src="scripts/directives/panel-control-refresh.js"></script>
    <script src="scripts/directives/panel-control-remove.js"></script>
    <script src="scripts/directives/preloader.js"></script>
    <script src="scripts/directives/quick-launch.js"></script>
    <script src="scripts/directives/rickshaw.js"></script>
    <script src="scripts/directives/scrollup.js"></script>
    <script src="scripts/directives/vector.js"></script>
    <script src="scripts/directives/password-match.js"></script>
    <script src="scripts/services/weekly-snapshot.service.js"></script>
    <script src="scripts/services/authentication.service.js"></script>
    <script src="scripts/services/outlet.service.js"></script>
    <script src="scripts/services/profile.service.js"></script>
    <script src="scripts/services/questions.service.js"></script>
    <script src="scripts/controllers/setting.js"></script>

</body>

</html>
