/* $main-panel
 ------------------------------------------*/

.main-panel {
  .clearfix();
  background: @main-panel-bg;
  > .main-content {
    .clearfix();
    padding: @gutter;
    margin-bottom: @footer-height;
    &.no-padding {
      padding: 0;
    }
  }
  .row {
    margin-right: (@gutter / -2);
    margin-left: (@gutter / -2);
  }
  .make-grid-columns();
}

.separator{
  text-transform: uppercase;
  font-size: 0.9em;
  color: lighten(@gray-base, 60%);
  padding: 0 10px;
}
.separator hr {
  width: 100%;
  margin-top: -10px;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid @hr-border;
}
.separator span{
    background: @main-panel-bg;
    padding-right: 10px;
}

.center-wrapper {
  display: table;
  .square(100%);
  position: relative;
  .center-content {
    display: table-cell;
    vertical-align: middle;
    .square(100%);
    float: none;
  }
}

@media screen and (min-width: @screen-sm-min) {
  .main-panel {
    margin-left: @sidebar-width;
  }
}
