//
// General
//

@transition-duration:  600ms;
@body-bg:                       #f0f0f0;
@main-panel-bg:                 #f0f0f0;
@border-color:                  #e4e4e4;
@gutter: 20px;

@sidebar-width:                  210px;
@sidebar-small-menu-width:       70px;
@sidebar-width-sm:               85%;

@header-height: 55px;
@footer-height: 55px;


@brand-default:                 #e2e2e2;
@brand-primary:                 #ffc701;
@brand-success:                 #2ECC63;
@brand-warning:                 #fe2b36;
@brand-danger:                  #d96557;
@brand-info:                    #4cc3d9;
@brand-white:                   white;
@brand-dark:                    #323542;

//
// Typography
//

@font-size-base:                13px;
@font-weight-base:              400;
@font-weight-medium:            500;
@font-weight-bold:              700;
@text-color:                    #212121;
@link-color:                    #616161;
@link-hover-color:              #444;
@font-family-base-webfont:      "gp-web", "Helvetica Neue", Helvetica, Arial, sans-serif;

//
// Radius
//

@border-radius-base:            2px;
@border-radius-large:           4px;
@border-radius-small:           1px;

//
// Sidebar Skin
//

@sidebar-skin-background:        #212121;
@sidebar-skin-color:             #8f8f8f;
@sidebar-skin-hover:             white;
@sidebar-skin-brand-background:  #333;
@sidebar-skin-brand-color:       #B2B6BE;

//
// Header Skin
//

@header-skin-background:        white;
@header-skin-hover-background:  #f8f8f8;
@header-skin-color:             #616161;
@header-skin-hover:             #474747;
