@font-face {
  font-family: 'crc';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/crc/crc.woff') format('woff');
}
@font-face {
  font-family: "gp-web";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/gp/gp-regular-web.woff') format('woff');
}
@font-face {
  font-family: "gp-web";
  font-style: bold;
  font-weight: 500;
  src: url('../fonts/gp/gp-medium-web.woff') format('woff');
}
@font-face {
  font-family: "gp-web";
  font-style: bold;
  font-weight: 700;
  src: url('../fonts/gp/gp-semibold-web.woff') format('woff');
}
@font-face {
  font-family: "gp-web";
  font-style: bold;
  font-weight: 800;
  src: url('../fonts/gp/gp-bold-web.woff') format('woff');
}
