<div >


    <!-- Notice  <div class="row">

    <div class="col-md-12">
      <div class="widget bg-warning-light">
        <div class="widget-bg-icon">
          <i class="fa fa-bookmark-o"></i>
        </div>
        <div class="widget-details">
          <span class="bold">Notice: you have <u>recommendations</u> that could be acted upon to improve your NPS&reg; score</span>
        </div>
      </div>
    </div>
  </div>

  /notice -->

    <div class="row separator">
        <span>Weekly Snapshot</span>
        <hr>
    </div>


    <div class="row">
        <div class="col-md-3">
            <div class="widget" ng-class="weeklySnapshot.atmosphere.className">
                <div class="widget-icon bg-white pull-left fa fa-heart">
                </div>
                <div class="overflow-hidden">
                    <span class="widget-title white fw600">Atmosphere</span>
                    <span class="widget-subtitle white">{{ weeklySnapshot.atmosphere.text }}</span>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="widget" ng-class="weeklySnapshot.food.className">
                <div class="widget-icon bg-white pull-left fa fa-cutlery">
                </div>
                <div class="overflow-hidden">
                    <span class="widget-title white fw600">Food</span>
                    <span class="widget-subtitle white">{{ weeklySnapshot.food.text }}</span>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="widget" ng-class="weeklySnapshot.service.className">
                <div class="widget-icon bg-white pull-left fa fa-eye">
                </div>
                <div class="overflow-hidden">
                    <span class="widget-title white fw600">Service</span>
                    <span class="widget-subtitle white">{{ weeklySnapshot.service.text }}</span>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="widget" ng-class="weeklySnapshot.value.className">
                <div class="widget-icon bg-white pull-left fa fa-money">
                </div>
                <div class="overflow-hidden">
                    <span class="widget-title white fw600">Value</span>
                    <span class="widget-subtitle white">{{ weeklySnapshot.value.text }}</span>
                </div>
            </div>
        </div>

    </div>


    <div class="row separator">
        <span>Team and Reviews</span>
        <hr>
    </div>

    <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="widget-chart bg-white no-padding">
                <div class="text-center">
                    <h6 class="mt30">Reviews over 7 days</h6>
                    <div class="mt15">
                        <h1 class="text-primary">{{totalReviews}}</h1>
                    </div>
                    <rickshaw class="rickshaw_graph dashboard-rickshaw mt30" rickshaw-options="optionsReviews"
                              rickshaw-features="featuresReviews" rickshaw-series="seriesReviews"
                              style="height:133px;"></rickshaw>
                </div>
            </div>
        </div>

        <div class="col-md-7 col-sm-6 col-xs-12">

            <div class="widget-chart bg-white no-padding">
                <div class="absolute tp lt rt p15">
                     <h3 class="mb0 mt0 bold">NPS&reg; score</h3>
                    <!-- <div class="small text-uppercase">NPS&reg; score:
                        <div class="text-success">20% better than competitors</div>
                    </div> -->
                </div>
                <!-- <div class="absolute tp rt pt15 pr15">
                    <div class="text-success">
                        <i class="fa fa-caret-up"></i>
                        <span>6%</span>
                    </div>
                    <div class="small">+5</div>
                </div> -->
                <rickshaw class="rickshaw_graph dashboard-rickshaw" rickshaw-options="optionsNPS"
                          rickshaw-features="featuresNPS" rickshaw-series="seriesNPS" style="height:133px;"></rickshaw>
            </div>

            <div class="widget bg-white">

                <div class="row">
                    <div class="col-xs-4">
                        <h6>
                            Who served you?
                        </h6>

                        <h1 class="mt0 mb0 bold">
                            {{activeServer._id}}
                        </h1>
                        <small class="mb0">Most active server</small>

                    </div>
                    <div class="col-xs-8">
                        <div class="canvas-holder">
                            <flot dataset="barDataset" options="barOptions" class="chart" height="90"></flot>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="row separator">
        <span>Questions</span>
        <hr>
    </div>

    <!-- Questions -->

    <div class="row">

        <!--<div ng-if="!question.response.nResponse.lenght && !question.response.tResponse"-->
            <!--class="col-md-12 widget bg-white">-->
            <!--No data for last 7 days-->
        <!--</div>-->
        <div ng-repeat-start="question in questions | orderBy: 'index'" ng-once
             ng-switch="question.type"
             class="col-md-3">
            <div ng-switch-when="s"
                 class="widget bg-white">
                <div class="col-md-3 pl0">
                    <h3 class="mb0 mt0 bold">Q{{$index + 1}}<br>
                       <!-- <div class="text-success mt15">
                            <i class="fa fa-caret-up"></i>
                            <span>1<i class="fa fa-star" aria-hidden="true"></i></span>
                        </div> -->
                    </h3>
                </div>
                <div class="col-md-9 pl0 qtit">{{question.question}}<br>
                    <h3><i ng-repeat="index in question.response.nResponse track by $index"
                           ng-if="question.response.nResponse.length && question.response.nResponse[0] !== 0"
                           class="fa"
                           ng-class="index % 1 ? 'fa-star-half' : 'fa-star'"
                           aria-hidden="true"></i>
                        <span ng-if="!question.response.nResponse.length || question.response.nResponse[0] === 0" >No data for last 7 days</span>
                    </h3>
                </div>
            </div>

            <div ng-switch-when="m" class="widget bg-white">
                <div class="col-md-3 pl0">
                    <h3 class="mb0 mt0 bold">Q{{$index + 1}}<br>
                      <!--  <div class="text-success mt15"><i class="fa fa-caret-up"></i> <span>6%</span></div>
                   --> </h3>
                </div>

                <div class="col-md-9 pl0 qtit">{{question.question}}<br>
                    <flot dataset="[{data: question.response.tResponse, bars: barFood}]"
                          ng-if="question.response.tResponse.length"
                          options="barOptions"
                          class="chart"
                          height="56"></flot>
                    <h3 ng-if="!question.response.nResponse.length" >No data for last 7 days</h3>
                </div>
            </div>

            <div ng-switch-when="n" class="widget bg-white">
                <div class="col-md-3 pl0">
                    <h3 class="mb0 mt0 bold">Q{{$index + 1}}<br>
                      <!--  <div class="text-warning mt15"><i class="fa fa-caret-down"></i> <span>2</span></div>
                    --></h3>
                </div>
                <div class="col-md-9 pl0 qtit">{{question.question}}<br>
                    <h3 ng-if="question.response.tResponse"><strong>{{question.response.tResponse}}</strong> / 10</h3>
                    <h3 ng-if="!question.response.tResponse">No data for last 7 days</h3>
                </div>
            </div>

            <div ng-switch-when="t" class="widget bg-white">
                <div class="col-md-3 pl0">
                    <h3 class="mb0 mt0 bold">Q{{$index + 1}}
                    </h3>
                </div>
                <div class="col-md-9 pl0 qtit">{{question.question}}<br>
                    <h3 class="mb2" ng-model="modal" >
                        <span ng-if="!question.response.tResponse.length">No data for last 7 days</span>
                        <div ng-if="question.response.tResponse.length">
                            <button type="button"
                                    data-toggle="modal"
                                    data-target="#modal"
                                    class="btn btn-primary btn-outline btn-round" ng-click="modal ? modal = false : modal = true">Click here to read</button>

                            <div class="modal fade in" id="modal" role="dialog" ng-show="modal" style="display: block">
                                <div class="modal-dialog modal-lg" style="height: 75%">
                                    <div class="modal-content" style="height: 100%">
                                        <div class="modal-header">
                                            <button ng-click="modal ? modal = false : modal = true"
                                                    type="button"
                                                    class="close"
                                                    data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Q{{$index + 1}}: {{question.question}}</h4>
                                        </div>
                                        <div class="modal-body" style="max-height: 70%; overflow-y: scroll">
                                            <p ng-repeat-start="answer in question.response.tResponse track by $index">{{answer}}</p>
                                            <hr ng-repeat-end>

                                        </div>
                                        <div class="modal-footer">
                                             <button style = "float : right" type="button" ng-csv="question.response.tResponse" csv-header="['Answers']" filename="test.csv">Download Csv</button>
                                            <button ng-click="modal ? modal = false : modal = true"
                                                    type="button"
                                                    class="btn btn-default"
                                                    data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </h3>
                </div>
            </div>

        </div>
        <div ng-repeat-end class="row separator" ng-if="($index + 1) % 4 === 0 && $index !== 0"></div>

    </div>


    <div class="row separator">
        <span>Stats</span>
        <hr>
    </div>

    <div class="row">

        <!-- <div class="col-md-4">
            <section>
                <div class="widget bg-white">
                    <div class="widget-icon bg-primary pull-left fa fa-star">
                    </div>
                    <div class="overflow-hidden">
                        <span class="widget-title">6 days in a row!</span>
                        <span class="widget-subtitle">Visit every day to improve your streak</span>
                    </div>
                </div>
            </section>
        </div> -->

        <div class="col-md-4">
            <section>
                <div class="widget bg-white">
                    <div class="widget-icon bg-success-dark pull-left fa" ng-class="['fa-arrow-', reviews.upDown].join('')">
                    </div>
                    <div class="overflow-hidden">
                        <span class="widget-title percent">Reviews {{reviews.upDown}} {{reviews.number}}</span>
                        <span class="widget-subtitle">Compared with the same period last week</span>
                    </div>
                </div>
            </section>
        </div>


        <div class="col-md-4">
            <section>
                <div class="widget bg-white">
                    <div class="widget-icon bg-lightblue pull-left fa fa-smile-o">
                    </div>
                    <div class="overflow-hidden">
                        <span class="widget-title percent">Response rate: {{rate}}</span>
                        <span class="widget-subtitle">Based on your estimated footfall</span>
                    </div>
                </div>
            </section>
        </div>

    </div>


    <div class="row separator">
        <span>Miscellaneous</span>
        <hr>
    </div>

    <div class="row">
       <!-- <div class="col-md-3">
            <section class="widget bg-lightblue text-center">
                <div class="widget-details">
                    <h2 class="no-margin bold">17&#176;C</h2>
                    <small class="text-uppercase">Islington, London</small>
                </div>
                <div class="widget-details">
                    <div class="climacon cloud rain sun fa-4x"></div>
                </div>
            </section>
        </div>
-->
        <!--
        <div class="col-md-6">
          <section class="widget bg-white text-center">
            <div class="widget-details col-xs-4">
              <h2 class="no-margin">13</h2>
              <small class="text-uppercase">Recommendations</small>
            </div>
            <div class="widget-details col-xs-4">
              <h2 class="no-margin">2</h2>
              <small class="text-uppercase">In progress</small>
            </div>
            <div class="widget-details col-xs-4">
              <h2 class="no-margin">28</h2>
              <small class="text-uppercase">Enacted</small>
            </div>
          </section>
        </div>

      -->

    </div>

</div>
