<div class="row">
    <div class="col-sm-3">
        <div class="profile-sidebar">
            <div class="profile-sidebar-item profile-avatar">
                <!-- restaurant logo  <img data-ng-src="images/user/logo.jpg" alt="" class="img-circle"> -->
            </div>
            <div class="profile-sidebar-item profile-info">
                <span class="h5 bold">{{outlet.name}}</span>
                <p>{{outlet.location}}</p>
            </div>

            <hr>

<!--            <ul class="profile-sidebar-item profile-numbers-count">
                <li>
                    <span class="bold">{{totalReviews}}</span> total feedback
                </li>
            </ul>  -->

        </div>

    </div>
    <div class="col-sm-9">
        <section class="profile-timeline">
            <div class="profile-timeline-header">
                <a href="#" class="profile-timeline-user">
                    <img data-ng-src="{{buzzer.logo}}" alt="" class="img-circle">
                </a>
                <div class="profile-timeline-user-details">
                    <a href="#" class="bold">Buzzer</a>
                    <br>
                    <em class="text-success small">New!</em>
                </div>
            </div>
            <div class="profile-timeline-content">
<p>Welcome to your dashboard! We'll post news and blog posts on this news page</p>
                <div class="profile-timeline-controls">
                    </a>
<!--                    <a class="mr15" href="javascript:;">
                        <i class="fa fa-heart mr5"></i>Like
                    </a>
                    <a href="javascript:;">
                        <i class="fa fa-comment mr5"></i>Comment
                    </a> -->
                </div>
            </div>
        </section>


    </div>
</div>
