<div data-ng-controller="wizardCtrl" ui-jq="checkBo">
     <form id="commentForm" class="form-horizontal" role="form" ui-jq="validate">
          <div class="box-tab justified" id="rootwizard" >
               <ul class="nav nav-tabs">
                    <li ui-sref-active="active"><a ui-sref = "app.forms.user" >User details</a>
                    </li>
                    <li ui-sref-active="active"><a ui-sref="app.forms.restaurant">Restaurant details</a>
                    </li>
                    <li ui-sref-active="active"><a href="javascript:void(0)">Billing</a>
                    </li>
                    <li ui-sref-active="active"><a ui-sref="app.forms.questions">App questions</a>
                    </li>
                    <li ui-sref-active="active"><a href="javascript:void(0)">Your team's names</a>
                    </li>
               </ul>

               <div class="tab-content">
                    <div ui-view></div>
                    <!-- <div class="tab-pane" id="tab1">
                         <div class="form-group">
                              <label class="col-sm-2 control-label">Email address</label>
                              <div class="col-sm-4">
                                   <input type="text" class="form-control" id="emailfield" name="emailfield" ng-model = "Profile.email">
                              </div>
                         </div>
                         <div class="form-group">
                              <label class="col-sm-2 control-label">Username</label>
                              <div class="col-sm-4">
                                   <input type="text" class="form-control" id="namefield" name="namefield" ng-model = "Profile.username">
                              </div>
                         </div>
                         <div class="form-group">
                              <label class="col-sm-2 control-label">Password</label>
                              <div class="col-sm-4">
                                   <input type="password" class="form-control" id="passwordfield" name="passwordfield">
                              </div>
                         </div>
                         <div class="form-group">
                              <label class="col-sm-2 control-label">Confirm password</label>
                              <div class="col-sm-4">
                                   <input type="password" class="form-control" id="cpasswordfield" name="cpasswordfield">
                              </div>
                         </div>
                    </div> -->
                    <!-- <div class="tab-pane" id="tab2">
                         <div class="form-group">
                              <label class="col-sm-2 control-label">Restaurant name</label>
                              <div class="col-sm-4">
                                   <input type="text" class="form-control" id="emailfield" name="emailfield">
                              </div>
                         </div>
                         <div class="form-group">
                              <label class="col-sm-2 control-label">Address</label>
                              <div class="col-sm-4">
                                   <textarea class="form-control" rows="3"></textarea>
                              </div>
                         </div>
                         <div class="form-group">
                              <label class="col-sm-2 control-label">Restaurant type</label>
                              <div class="col-sm-4">
                                   <select class="form-control" id="description" name="description">
                                        <option>Independent</option>
                                        <option>Small chain (up to 5 branches)</option>
                                        <option>Large chain (5 - 10 branches)</option>
                                        <option>Café</option>
                                   </select>
                              </div>
                         </div>
                    </div> -->
                    <!-- <div class="tab-pane" id="tab3" ui-jq="card" ui-options="{container: '.card'}">

                         <div class="row">
                              <div class="col-sm-6">
                                   <div class="form-group">
                                        <label class="col-sm-4 control-label">Card number</label>
                                        <div class="col-sm-8">
                                             <input type="text" class="form-control" name="number">
                                        </div>
                                   </div>
                                   <div class="form-group">
                                        <label class="col-sm-4 control-label">Full name</label>
                                        <div class="col-sm-8">
                                             <input type="text" class="form-control" name="name">
                                        </div>
                                   </div>
                                   <div class="form-group">
                                        <label class="col-sm-4 control-label">Expiration date</label>
                                        <div class="col-sm-8">
                                             <input type="text" class="form-control" name="expiry">
                                        </div>
                                   </div>
                                   <div class="form-group">
                                        <label class="col-sm-4 control-label">CVC number</label>
                                        <div class="col-sm-8">
                                             <input type="text" class="form-control" name="cvc">
                                        </div>
                                   </div>
                              </div>
                              <div class="col-sm-6">
                                   <div class="card"></div>
                              </div>
                         </div>
                    </div> -->

                    <!-- <div class="tab-pane" id="tab4">
                         <div class="form-group">
                              <label class="col-sm-2 control-label">Name 1</label>
                              <div class="col-sm-4">
                                   <input type="text" class="form-control" id="emailfield" name="emailfield">
                              </div>
                         </div>
                         <div class="form-group">
                              <label class="col-sm-2 control-label">Name 2</label>
                              <div class="col-sm-4">
                                   <input type="text" class="form-control" id="emailfield" name="emailfield">
                              </div>
                         </div>
                    </div> -->

                    <!-- <div class="tab-pane" id="tab5">
                         <div class="form-group">
                              <label class="col-sm-2 control-label">Name 1</label>
                              <div class="col-sm-4">
                                   <input type="text" class="form-control" id="emailfield" name="emailfield">
                              </div>
                         </div>
                         <div class="form-group">
                              <label class="col-sm-2 control-label">Name 2</label>
                              <div class="col-sm-4">
                                   <input type="text" class="form-control" id="emailfield" name="emailfield">
                              </div>
                         </div>
                    </div> -->

                    <!-- <div class="wizard-pager">
                         <div class="pull-right">
                              <button type="button" class="btn btn-default button-previous">Previous</button>
                              <button type="button" class="btn btn-primary button-next">Next</button>
                         </div>
                    </div> -->
               </div>
          </div>
     </form>
</div>
