
<form name = "myForm">
     <div class="tab-pane" id="tab1">
          <div ng-include = "'views/common/flash-notification.html'"></div>
          <div class="form-group">
               <label class="col-sm-2 control-label">Email address</label>
               <div class="col-sm-4">
                    <input type="email" class="form-control" id="emailfield" name="emailfield" ng-model = "Profile.email">
               </div>
          </div>
          <div class="form-group">
               <label class="col-sm-2 control-label">Username</label>
               <div class="col-sm-4">
                    <input type="text" class="form-control" id="namefield" name="namefield" ng-model = "Profile.username">
               </div>
          </div>
          <div class="form-group">
               <label class="col-sm-2 control-label">Password</label>
               <div class="col-sm-4">
                    <input type="password" class="form-control" id="passwordfield" name="passwordfield" ng-model = "Profile.password">
               </div>
          </div>
          <div class="form-group">
               <label class="col-sm-2 control-label">Confirm password</label>
               <div class="col-sm-4">
                    <input type="password" class="form-control" id="cpasswordfield" name="cpasswordfield" ng-model = "Profile.confirm_password">
                    <!-- <div class='msg-block' ng-show='myForm.$error'>
                    <span class='msg-error' ng-show='myForm.cpasswordfield.$error.pwmatch'>
                    Passwords don't match.
               </span>
          </div> -->
     </div>
</div>
</div>
<div class="wizard-pager">
     <div class="pull-right">
          <button type="button" class="btn btn-default button-previous">Cancel</button>
          <button ng-click = "updateUserDetails(Profile)"  type="submit" class="btn btn-primary button-next">Submit</button>
     </div>
</div>
</form>
