<form name = "myForm">
     <div class="tab-pane" id="tab2">
          <div ng-include = "'views/common/flash-notification.html'"></div>
          <div class="form-group" ng-repeat = "question in questionsArr">
               <label class="col-sm-2 control-label">Question {{$index + 1}}</label>
               <div class="col-sm-4">
                    <input type="text" class="form-control" id="emailfield" name="emailfield"  ng-model = "question.question"  ng-required>
               </div>
          </div>

          <!-- <div class="form-group">
               <label class="col-sm-2 control-label">Question 2</label>
               <div class="col-sm-4">
                    <input type="text" class="form-control" id="emailfield" name="emailfield" ng-init ="question[2] =questionsArr[1].question" ng-model = "question[2]" ng-required>
               </div>
          </div>

          <div class="form-group">
               <label class="col-sm-2 control-label">Question 3</label>
               <div class="col-sm-4">
                    <input type="text" class="form-control" id="emailfield" name="emailfield" ng-value = "questionsArr[2].question" ng-model = "question.name[3]" ng-required>
               </div>
          </div>

          <div class="form-group">
               <label class="col-sm-2 control-label">Question 4</label>
               <div class="col-sm-4">
                    <input type="text" class="form-control" id="emailfield" name="emailfield" ng-value = "questionsArr[3].question" ng-model = "question.name[4]">
               </div>
          </div>

          <div class="form-group">
               <label class="col-sm-2 control-label">Question 5</label>
               <div class="col-sm-4">
                    <input type="text" class="form-control" id="emailfield" name="emailfield" ng-value = "questionsArr[4].question" ng-model = "question.name[5]">
               </div>
          </div>

          <div class="form-group">
               <label class="col-sm-2 control-label">Question 6</label>
               <div class="col-sm-4">
                    <input type="text" class="form-control" id="emailfield" name="emailfield" ng-value = "questionsArr[5].question" ng-model = "question.name[6]">
               </div>
          </div>

          <div class="form-group">
               <label class="col-sm-2 control-label">Question 7</label>
               <div class="col-sm-4">
                    <input type="text" class="form-control" id="emailfield" name="emailfield" ng-value = "questionsArr[6].question" ng-model = "question.name[7]">
               </div>
          </div> -->

          <!-- <div class="form-group">
          <label class="col-sm-2 control-label">Restaurant type</label>
          <div class="col-sm-4">
          <select class="form-control" id="description" name="description">
          <option>Independent</option>
          <option>Small chain (up to 5 branches)</option>
          <option>Large chain (5 - 10 branches)</option>
          <option>Café</option>
     </select>
</div>
</div> -->
</div>
<div class="wizard-pager">
     <div class="pull-right">
          <button type="button" class="btn btn-default button-previous">Cancel</button>
          <button ng-click = "updateQuestions(question)"  type="submit" class="btn btn-primary button-next">Submit</button>
     </div>
</div>
</form>
