<form name = "myForm">
     <div class="tab-pane" id="tab2">
          <div ng-include = "'views/common/flash-notification.html'"></div>
          <div class="form-group">
               <label class="col-sm-2 control-label">Restaurant name</label>
               <div class="col-sm-4">
                    <input type="text" class="form-control" id="emailfield" name="emailfield" ng-model = "Profile.shopName">
               </div>
          </div>
          <div class="form-group">
               <label class="col-sm-2 control-label">Address</label>
               <div class="col-sm-4">
                    <textarea class="form-control" rows="3" ng-model = "Profile.shopLocation"></textarea>
               </div>
          </div>
          <!-- <div class="form-group">
          <label class="col-sm-2 control-label">Restaurant type</label>
          <div class="col-sm-4">
          <select class="form-control" id="description" name="description">
          <option>Independent</option>
          <option>Small chain (up to 5 branches)</option>
          <option>Large chain (5 - 10 branches)</option>
          <option>Café</option>
     </select>
</div>
</div> -->
</div>
<div class="wizard-pager">
     <div class="pull-right">
          <button type="button" class="btn btn-default button-previous">Cancel</button>
          <button ng-click = "updateUserDetails(Profile)"  type="submit" class="btn btn-primary button-next">Submit</button>
     </div>
</div>
</form>
