<div class="row">
  <div class="col-md-12">
    <div class="panel mb25">
      <div class="panel-heading">Team Rankings</div>
      <div class="panel-body">
        <table class="table mb0">
          <thead>
            <tr>
                <th class="col-md-1">Rank</th>
              <th class="col-md-4">Team member name</th>
              <th class="col-md-2">Feedback collected</th>
              <th class="col-md-2">Average rating</th>
              <th class="col-md-2">Performance</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Sarah</td>
              <td>72</td>
              <td>
                <div ng-controller="RatingDemoCtrl">
                  <rating ng-model="rate" max="5" readonly="isReadonly"></rating>
                  <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
                </div>
</td>
              <td class="align-middle">
                <div class="progress progress-sm no-margin">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (success)</span>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Raj</td>
              <td>62</td>
              <td><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></td>
              <td class="align-middle">
                <div class="progress progress-sm no-margin">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100" style="width: 23%">
                    <span class="sr-only">23% Complete (success)</span>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Scott</td>
              <td>55</td>
              <td><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half" aria-hidden="true"></i>
</td>
              <td class="align-middle">
                <div class="progress progress-sm no-margin">
                  <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                    <span class="sr-only">78% Complete (success)</span>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td>Felix</td>
              <td>53</td>
              <td><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></td>
              <td class="align-middle">
                <div class="progress progress-sm progress-striped active no-margin">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100" style="width: 56%">
                    <span class="sr-only">56% Complete (success)</span>
                  </div>
                </div>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
</div>
</div>
